**/*.ipynb_checkpoints
**/__pycache__
**/*.sif
**/*.out
**/*.err
**/*.DS_Store
**/*.csv
**/*.out
**/*.png
**/data
**/notebooks/*.ipynb
**__hpc*
sync2hpc.bash
Modelbase
vscode-container-ext/.vscode-server/bin
vscode-container-ext/.vscode-server/data
vscode-container-ext/.vscode-server/extensions
vscode-container-ext/.vscode-server/extensionsCache
vscode-container-ext/.vscode-server-insiders/bin
vscode-container-ext/.vscode-server-insiders/data
vscode-container-ext/.vscode-server-insiders/extensions
vscode-container-ext/.vscode-server-insiders/extensionsCache