Pip_Package            Version
------------------ -----------
asttokens          2.4.1
auto-sklearn       0.15.0
click              8.1.7
cloudpickle        3.0.0
comm               0.2.2
ConfigSpace        0.4.21
contourpy          1.2.1
cycler             0.12.1
Cython             0.29.36
dask               2024.5.0
debugpy            1.8.1
decorator          5.1.1
distributed        2024.5.0
distro             1.9.0
emcee              3.1.6
exceptiongroup     1.2.1
executing          2.0.1
fonttools          4.51.0
fsspec             2024.3.1
importlib_metadata 7.1.0
ipykernel          6.29.4
ipython            8.24.0
jedi               0.19.1
Jinja2             3.1.4
joblib             1.4.2
jupyter_client     8.6.1
jupyter_core       5.7.2
kiwisolver         1.4.5
liac-arff          2.5.0
locket             1.0.0
MarkupSafe         2.1.5
matplotlib         3.8.4
matplotlib-inline  0.1.7
msgpack            1.0.8
nest-asyncio       1.6.0
numpy              1.24.4
packaging          24.0
pandas             2.2.2
parso              0.8.4
partd              1.4.2
pexpect            4.9.0
pillow             10.3.0
pip                24.0
platformdirs       4.2.1
prompt-toolkit     3.0.43
psutil             5.9.8
ptyprocess         0.7.0
pure-eval          0.2.2
Pygments           2.18.0
pynisher           0.6.4
pyparsing          3.1.2
pyrfr              0.8.3
python-dateutil    2.9.0.post0
pytz               2024.1
PyYAML             6.0.1
pyzmq              26.0.3
scikit-learn       0.24.2
scipy              1.8.1
seaborn            0.13.2
setuptools         69.5.1
six                1.16.0
smac               1.2
sortedcontainers   2.4.0
stack-data         0.6.3
tblib              3.0.0
threadpoolctl      3.5.0
toolz              0.12.1
tornado            6.4
traitlets          5.14.3
typing_extensions  4.11.0
tzdata             2024.1
urllib3            2.2.1
wcwidth            0.2.13
wheel              0.43.0
zict               3.0.0
zipp               3.18.1


Python 3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0] on linux
